.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBlock {
    width: 40%;
    height: 60%;
}
.errorMessage {
    color: #bf1650;
}

.errorMessage::before {
    color: red;
    display: inline;
    content: "⚠ ";
}
